.currency {
  margin-top: 50px;
  margin-bottom: 50px;
}
.currency article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.currency article .img-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.currency article .img-name .symbol {
  font-weight: 600;
}
.currency article .img-name img {
  width: 30px;
  height: 30px;
}
.currency article > div:hover {
  background-color: var(--card-bg);
  padding: 1rem;
  box-shadow: 0 5px 10px #00000020;
  transition: all 0.3s;
}
.currency article div:hover .link {
  color: var(--text-prm);
}
.currency article div {
  text-align: left;
  /* max-width: ; */
  width: 200px;

  transition: all 0.3s;
}
.currency article div p span:nth-child(1) {
  font-weight: 600;
  font-size: 1.2rem;
}
.currency article div p span:nth-child(2) {
  /* font-weight: 600; */
  font-size: 0.8rem;
  text-transform: uppercase;
}
.daily {
  font-size: 12px;
}

/* MEDIA */

@media screen and (max-width: 768px) {
  .currency {
    margin: 30px 0;
  }
  .currency article {
    row-gap: 1rem;
    grid-template-columns: 1fr;
  }
  .currency article div {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
}
