/* .home-top {
} */
.home-top > h1 {
  font-size: 2rem;
  color: var(--text-prm);
  font-weight: 700;
}
.home-top > .top-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-top > .top-row p:nth-child(1) {
  color: var(--text-prm);
  font-weight: 600;
  font-size: 14px;
}
.home-top > .top-row p:nth-child(2) {
  color: var(--text-prm);
  font-size: 1.2rem;
}
.home-section > article > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-prm);
}
.home-section > article > ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.home-section > article > ol > li > div {
  background-color: var(--card-bg);
  text-align: center;
  width: 250px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 10px 10px #00000010;
  /* background-color: red; */
}
.home-section > article div .name {
  font-size: 1.3rem;
  font-weight: 500;
}

.home-section .hide-btn {
  /* display: none; */
  visibility: hidden;
  transition: 0.5s;
}
.home-section .show-btn {
  visibility: visible;
}
.home-section button {
  position: relative;

  background-color: var(--text-bg);
  /* border: 1px solid var(--text-prm); */
  border: none;
  color: #ddd;
  padding: 1em 3.5em;
  border-radius: 6px;
  align-self: flex-end;
  justify-self: flex-end;
  right: -90%;
}
.trends > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-prm);
}
.trends-container {
  display: grid;
  /* justify-content: center; */
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.trends-container > div {
  border-radius: 6px;
  box-shadow: 0px 10px 10px #00000010;
  background-color: var(--card-bg);
  width: 250px;

  padding: 1.5rem;
}
.trends-container > div p > .symbol {
  padding-left: 1rem;
  /* font-size: 12px; */
  font-weight: bold;
  /* font-weight: 700; */
}
.news {
  margin-top: 150px;
  margin-bottom: 50px;
}
.news .news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: auto;
}
.news-item {
  /* display: flex; */
  gap: 2rem;
  background-color: var(--card-bg);
  /* background-color: ddd; */
  box-shadow: 0px 10px 10px #00000010;
  max-width: 300px;
  padding: 1rem;
}
.news-item a {
  cursor: pointer;
  color: var(--text-prm);
}

@media screen and (max-width: 768px) {
  .home-section {
    margin-top: 30px;
  }
  .home-top > h1 {
    font-size: 1.5rem;
    text-align: left;
    color: var(--text-prm);
    font-weight: 600;
  }
  .home-top > .top-row p:nth-child(1) {
    color: var(--text-prm);
    font-weight: 600;
    font-size: 12px;
  }
  .home-top > .top-row p:nth-child(2) {
    color: var(--text-prm);
    font-size: 0.9rem;
  }

  .trends > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-prm);
  }
  .trends-container {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .trends-container > div {
    border-radius: 6px;
    box-shadow: 0px 10px 10px #00000010;
    background-color: var(--card-bg);
    width: 250px;
    padding: 1.5rem;
  }
  .trends-container > div p > .symbol {
    padding-left: 1rem;
    font-size: 12px;
    font-weight: bold;
    /* font-weight: 700; */
  }
  .home-section > article > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-prm);
    margin-top: 60px;
  }
  .home-section > article > ol {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    justify-content: center;
    gap: 16px;
  }
  .home-section > article > ol > li > div {
    background-color: var(--card-bg);
    text-align: center;
    width: 250px;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 10px 10px #00000010;
    /* background-color: red; */
    margin: 0 auto;
  }
  .news .news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-auto-rows: auto;
  }
  .news-item {
    /* display: flex; */
    gap: 2rem;
    background-color: var(--card-bg);
    /* background-color: ddd; */
    box-shadow: 0px 10px 10px #00000010;
    max-width: 300px;
    padding: 1rem;
    margin: 0 auto;
  }
}
