.nav-section {
  display: flex;
  position: relative;
  max-width: 1440px;
}
.nav {
  background-color: var(--text-bg);
  height: 100vh;
  position: sticky;
  /* position: fixed; */
  bottom: 0;
  top: 0;
  flex: 1.3 1;
  color: var(--text-prm);
}

.nav-section > div {
  flex: 5 1;
  /* padding: 0 0px; */
}
.nav-section > div .outlet {
  /* padding-left: 250px; */
  padding-left: 50px;
  padding-right: 50px;
}
.nav-wrapper {
  padding: 0 2rem;
}
.nav-wrapper > div .nav-link:hover {
  /* color: var(--text-hover); */
  font-weight: 700;
}
.nav-wrapper > .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-menu {
  display: none;
  font-size: 2rem;
}
.nav-wrapper > .logo > h1 {
  font-size: 1.5rem;
}
.nav-wrapper > .logo > h1 > span {
  color: var(--text-hover);
}
.nav-links-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav-links-container .nav-link {
  color: var(--text-hover);
  text-decoration: none;
}

.mobile-nav {
  display: none;
}
.active {
  color: var(--text-hover);
  background-color: var(--text-hover-bg);
  /* color: var(--text-prm); */
  /* color: var(--card-bg); */
  /* font-weight: 700; */
  padding: 0.5em;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    display: block;
    font-size: 2rem;
  }
  .nav-section {
    flex-direction: column;
  }

  .nav {
    /* position: fixed; */
    height: fit-content;
  }
  .nav-links-container {
    height: 0;
    overflow: hidden;
    transition: 0.2s;
  }

  .show-menu {
    transition: 0.2s;
    padding: 2rem 0;
    height: fit-content;
  }

  /* .nav-links-container {
    display: none;
  } */

  .nav-section > div {
    flex: 1;
  }
  .mobile-nav {
    display: block;
    background-color: red;
  }

  .nav-section > div .outlet {
    /* padding-left: 250px; */
    padding-left: 20px;
    padding-right: 20px;
  }
}
