@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-prm: #474954;
  --text-bg: #0c090d;
  --text-hover-bg: #5cc8ff;
  --text-hover: #d5dff8;
  --card-bg: #fffaff;
}
.spinner {
  width: 50px;
  margin: 50px auto;
  display: block;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
